* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: pink;
  cursor: default;
}

header {
  margin: 20px 0 30px;
  h1 {
    background: white;
    color: pink;
    font-size: 50px;
  }
  p {
    margin-top: 20px;
    font-size: 20px;
  }
}

.textAlignCenter {
  text-align: center;
}

.colourWhite {
  color: white;
}

.salePitch {
  margin-bottom: 20px;
  .border {
    width: 60%;
    margin: 0 auto 10px;
    padding: 15px;
    background: white;
    color: pink;
    border-radius: 10px;
  }
  p {
    line-height: 30px;
  }
}

.image {
  a {
    cursor: default;
  }
  img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    cursor: pointer;
  }
}

.buttonAndArrows {
  margin: 10px 0 50px;
  animation: buttonAndArrowsFill 5s infinite alternate;
  button {
    font-size: 30px;
    padding: 0px 20px;
    animation: borderFill 5s infinite alternate;
    background: transparent;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  .arrows {
    animation: arrowsFill 5s infinite alternate;
  }
}

@keyframes borderFill {
  from {
    background: pink;
    color: white;
  }
  to {
    background: white;
    color: pink;
  }
}

@keyframes buttonAndArrowsFill {
  from {
    background: white;
  }
  to {
    background: pink;
  }
}

@keyframes arrowsFill {
  from {
    background: white;
    color: pink;
  }
  to {
    background: pink;
    color: white;
  }
}

@media only screen and (min-width: 700px) {
  header {
    h1 {
      font-size: 110px;
    }
    p {
      font-size: 30px;
    }
  }

  .salePitch {
    margin-bottom: 60px;
    .border {
      width: 430px;
    }
    p {
      line-height: 50px;
      font-size: 30px;
    }
  }
  .image {
    img {
      width: 600px;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }
  .buttonAndArrows {
    margin-top: 40px;
    button {
      font-size: 60px;
    }
    .arrows {
      height: 50px;
    }
  }
}

footer {
  margin-bottom: 20px;
}

@media only screen and (min-width: 1000px) {
  header {
    h1 {
      font-size: 150px;
    }
  }
  .image {
    img {
      width: 900px;
    }
  }
}

@media only screen and (min-width: 1400px) {
  header {
    h1 {
      font-size: 200px;
    }
  }
  .image {
    img {
      width: 1200px;
    }
  }
}
